@charset "utf-8";
/* CSS Document */
body{
	background-color: #000000
}
.h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	color:antiquewhite
}
.link{ 
	color: #3FF0C9
}
.paragraph {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: antiquewhite
}